$bgwhite: #fff;
$bgtan: #f7f5f2;
$tanborder: #e6e3df;
$blue: #25a6e9;
$green: #6acc2a;
$darktext:  #47525c;
$lessdarktext: #57616b;

* {
  padding: 0;
  margin: 0;
}

p, h1, a, h2 {
  -webkit-font-smoothing: antialiased;
}

@mixin blue-button($w, $h) {
  width: $w;
  height: $h;
  background-color: $blue;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none !important;
  padding: 16px;
  text-transform:  uppercase;
  font-size: 15px;
  font-weight: 600;
  display: block;
  text-shadow: -1px -1px -0px rgba(0,0,0,0.1);
  cursor: pointer;

  &:hover {
    background-color: #40b8f6;
  }
}

@mixin white-button($w, $h) {
  background: transparent;
  border: 3px solid rgba(255,255,255,0.8);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  padding: 13px 29px 13px 29px;
  text-transform:  uppercase;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

#button-blue a {
  background-color: $blue;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  text-transform:  uppercase;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}


.header {
	height: 85px;
  width: 100%;
  background-color: $bgtan;

  .logo {
    width: 315px;
    height: 50px;
    margin-top: 23px;
    float: left;
  }

  .login a {
    float: right;
    margin-top: 20px;
    @include blue-button(65px, 18px);
    padding: 10px 25px;
    text-align: center;
  }
}

.cover {
  height: 335px;
  width: 100%;
  background: image-url("bg-space.png") no-repeat center top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 140px;

  .heading {
    font-size: 56px;
    color: #fff;
    margin-top: 23px;
    text-align: center;
  }

  .sub-heading {
    font-size: 23px;
    color: #fff;
    margin-top: 40px;
    text-align: center;
  }

  .buttons {
    width: 556px;
    margin: 50px auto 0 auto;

    .download a {
      float: left;
      @include blue-button(320px, 18px);
      margin-left: 45px;
      text-align: center;
    }

    .learn-more {
      float: left;
      @include white-button(320px, 20px);
      -webkit-font-smoothing: antialiased;

    }

  }
}

/*//////////////////////////////////////////////////////*/

.product-demo {
  height: 880px;
  width: 100%;
  background-color: $bgtan;
  border-bottom: 1px solid $tanborder;

  h2  {
    font-size: 31px;
    color: #47525c;
    padding: 90px 0 21px 118px;

    span {
      color: $blue;
      text-transform: uppercase;
    }
  }

  .chrome-browser {
    width: 970px;
    height: 620px;
    margin: 0 auto;
    // background: image-url("chrome.png") no-repeat center center;
    font-family: verdana, arial, helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;

    .app {
      width: 100%;
      height: 100%;
      position: relative;
      top: 0;
      left: 0;

      .url-box {
        position: absolute;
        height: 23px;
        width: 400px;
        top: 68px;
        left: 181px;
        color: #686663;
        font-size: 13px;
      }

      .tab-box {
        position: absolute;
        height: 23px;
        width: 250px;
        top: 25px;
        left: 135px;
        color: #686663;
        font-size: 13px;

        .icon {
          float: left;
          height: 23px;
          width: 23px;


        }
        .text {
          float: left;
          margin-top: 3px;
          margin-left: 14px;
        }
      }

      .extension-icon {
        position: absolute;
        height: 23px;
        width: 37px;
        top: 65px;
        left: 879px;
        cursor: pointer;
      }

      .extension {
        $resizer: 0.75;
        position: absolute;
        height: 133px;
        width: 300px * $resizer;
        background-color: #000;
        top: 107px;
        left: 720px;
        z-index: 201;
        background-color: #f9f7f5;
        color: #686663;
        display: none;

      //         body {
      //   min-width: 301px;
      //   min-height: 160px;
      // }


        .progress {
          width: 101.5%;
          min-height: 10px * $resizer;
          background-color: #23adeb;
          font-size: 18px * $resizer;
          color: #fff;
          text-transform:  uppercase;
          float: left;
        }
  
        .progress p, .progress div {
          float: left;
        }
  
        .progress .loading {
          display: none;
          padding: (15px * $resizer) 0;
          margin-left: 105px * $resizer;
  
        }
  
        .progress .loading .spinner {
          padding-right: 10px * $resizer;

          img {
            width: 20px;
          }
        }
  
        .progress .saved .check {
          padding-right: 10px * $resizer;

          img {
            width: 20px;
          }
        }
  
        .progress .loading p {
          margin-top: 2px * $resizer;
        }
  
        .progress .saved p {
          margin-top: 2px * $resizer;
        }
  
  
        .progress .saved {
          display: none;
          padding: (15px * $resizer) 0;
          margin-left: 110px * $resizer;
        }
  
  
  
        .label {
          font-size: 18px * $resizer;
          text-transform: uppercase;
          height: 37px * $resizer;
          width: 105px * $resizer;
/*          border: 2px solid #eeecea;*/
          padding-left: 20px * $resizer;
          float: left;
          font-weight: 500;
          padding-top: 18px * $resizer;
        }
  
        .row {
          height: 55px * $resizer;
          width: 100%;
          border-top: (3px * $resizer) solid #eeecea;
          border-left: (3px * $resizer) solid #eeecea;
          border-right: (3px * $resizer) solid #eeecea;
        }
  
        .time-val {
          height: 40px * $resizer;
          width: 35px * $resizer;
          border-left: (3px * $resizer) solid #eeecea;
          float: left;
          font-size: 20px * $resizer;
          padding-left: 20px * $resizer;
          padding-top: 15px * $resizer;
        }
  
        .time-val:hover {
          background-color: #23adeb;
          color: #fff;
          cursor: pointer;
        }
  
      }

      .screen {
        width: 97.5%;
        height: 81.4%;
        position: relative;
        top: 104px;
        left: 12px;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 100;

        .article-1{
          width: 100%;
          height: 149%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 101;
        }

        .time {
          position: absolute;
          background-color: #444644;
          height: 700px;
          width: 100%;
          top: 0;
          left: 0;
          z-index: 102;
          display: none;
          overflow: hidden;

          .time-box {
            position: absolute;
            height: 32px;
            width: 369px;
            top: 394px;
            left: 299px;
            color: #f7f5f2;
            font-size: 34px;
            text-transform: uppercase;
            text-align: center;
          }

          .place-loader {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 98px;
            left: 368px;
          }
        }

        .inbox {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          z-index: 103;
          display: none;

          .the-email {
            position: absolute;
            height: 32px;
            width: 459px;
            top: 136px;
            left: 351px;
            cursor: pointer;
          }

        }

        .email {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          z-index: 104;
          display: none;

          .read-more {
            position: absolute;
            height: 26px;
            width: 103px;
            top: 332px;
            left: 357px;
            cursor: pointer;
          }

        }

        .final {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          z-index: 105;
          display: none;
        }

      }

    }

  }


}

/*//////////////////////////////////////////////////////*/

.extension-details {
  height: 475px;
  width: 100%;
  background-color: $bgwhite;

  .text {
    width: 425px;
    margin-left: 130px;
    padding: 144px 0;
    color: $lessdarktext;
    float: left;

    p {
      font-size: 17px;
      margin-top: 40px;
      line-height: 24px;
      text-indent: 30px;
    }
  
    h2 {
      font-size: 34px;
      font-weight: 600;
    }
  }

  .image {
    float: right;
    margin-right: 130px;
    margin-top: 86px;  }
}

.call-action {
  height: 100px;
  width: 100%;
  background-color: $bgtan;
  border-top: 1px solid $tanborder;
  padding-top: 73px;

  .center {
    width: 756px;
    margin: 0 auto;
    height: 50px;
    margin-top: 5px;
  }

  h2 {
    color: $darktext;
    font-size: 28px;
    float: left;
    font-weight: 400;
  }

  .button a{
    @include blue-button(347px, 20px);
    float: left;
    margin-left: 45px;
    margin-top: -15px;
    padding: 14px 22px;

    .icon {
      width: 65px;
      height: 25px;
      margin-top: -2px;
      float: left;
      background: image-url("logo-icon.png") no-repeat center center;
    }

    .text-on-button {
      float: left;
      margin-left: 44px;
      margin-top: 1px;
    }
  }
}

.footer {
  height: 140px;
  width: 100%;
  background: #333d48 image-url("mountains-3.png") no-repeat bottom center; 
  padding-top: 233px;

  p {
    color: #a2acb8;;
    font-size: 14px;
    margin-top: 2px;
  }

  .by {
    width: 353px;
    height: 20px;
    margin: 85px auto 0 auto;
  }

  .made-by {
    float: left;
  }

  .made-in {
    float: left;
    margin-left: 10px;
  }

  .grey-button {
    float: left;
    margin-top: -4px;
    margin-left: 10px;
    width: 140px;
    height: 30px;
    background-color: #747f8a;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    display: block;
    text-shadow: -1px -1px -0px rgba(0,0,0,0.1);

    .icon {
      float: left;
      height: 30px;
      width: 30px;
      background: image-url("twitter-icon.png") no-repeat center center;
      padding-left: 12px;
    }

    .text-on-button {
      font-size: 14px;
      font-weight: bold;
      text-decoration: none !important;
      float: left;
      padding-top: 6px;
      padding-left: 1px;

      a {
        color: #242c35;
      }

    }
  }
}

.italian-flag {
  float: left;
  margin-left: 10px;

  .part {
    width: 11px;
    height: 21px;
    float: left;
  }
  .green {
    background-color: #05bb1f;
  }

  .white {
    background-color: #fff;
  }

  .red {
    background-color: #da0707;
  }
}




















