// Place all the styles related to the sign_up controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue: #25a6e9;

@mixin blue-button($w, $h) {
  width: $w;
  height: $h;
  background-color: $blue;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none !important;
  padding: 16px;
  text-transform:  uppercase;
  font-size: 15px;
  font-weight: 600;
  display: block;
  color: #fff;
  text-shadow: -1px -1px -0px rgba(0,0,0,0.1);
  cursor: pointer;

  &:hover {
    background-color: #40b8f6;
  }
}




.dark{
	background-color: #333d48;
  width: 100%;


	.header {
		  height: 85px;
  		width: 100%;
      background-color: #333d48;
	
  	.logo {
  	  width: 315px;
  	  height: 50px;
  	  margin-top: 33px;
  	  float: left;
  	}
	
  	.login a{
  	  float: right;
  	  margin-top: 30px;
  	  @include blue-button(65px, 18px);
  	  padding: 10px 25px;
  	  text-align: center;
      border: none;
  	}
  }


  .main {
    width: 100%;
    height: 290px;
    margin-top: 200px;

    h1  {
      font-size: 36px;
      color: #fff;
      font-weight: 600;
      padding-bottom: 40px;
    }

    h4 {
      color: #fff;
      font-size: 17px;
      line-height: 24px;
      width: 70%;
      font-weight: 300;
    }

    .return  {
       padding-top: 30px;
       display: block;
      a {
        color: #777d84;
        font-size: 15px;
      }
    }

    .half {
      float: left;
      width: 35%;
    }

    .space {
      float: left;
      width: 15%;
      height: 400px;
    }

    .twitter-button a {
      height: 40px;
      width: 240px;
      background-color: #25a6e9;
      float: left;
      margin: 61px 33px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        background-color: #40b8f6;
      }

      .icon {
        background-image: image-url("twitter-icon-light.png");
        height: 40px;
        width: 50px;
        float: left;
      }

      .text-on-button {
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-shadow: -1px -1px -0px rgba(0,0,0,0.1);
        margin: 12px 0 0 20px;
        float: left;
        display: block;
      }
    }

    .email-form {
      width: 552px;
      margin: 0 auto;

      h4 {
        width: 100%;
      }
    }

    #email-field {
      width: 340px;
      float: left;

      input{
        height: 50px;
        width: 320px;
        padding-left: 25px;
        float: left;
        margin-top: 30px;
        border: none;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        font-size: 15px;
        color: #57616b;

        &:focus {
          outline-width: 0;
        }

      }
    }

    #email-button {
      float: left;

      input[type=submit] {
        float: left;
        border: none;
        box-sizing: inherit;
        align-items: stretch;
        text-align: center;
        margin-top: 30px;
        @include blue-button(180px, 18px);
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        -webkit-appearance: none;
        font: 15px "proxima-nova", verdana, arial, helvetica, sans-serif;

      }
    }

  }

  .mountain-block {
    background: #333d48 image-url("mountains-2.png") repeat-x bottom center;
    height: 260px;
  }

  .footer {
    width: 100%;
    height: 160px;
    padding-top: 1px;
    position: relative;
    background: image-url("mount-bg.png") repeat center center;

    .signature {
      position: absolute;
      bottom: 25px;
      left: 50%;
      margin: 0 0 0 -200px;
    }
  } 
}